.DS_Store
Thumbs.db

# 依赖与构建产物
node_modules
/build
/.svelte-kit
/package

# 日志
*.log
npm-debug.log*

# 环境变量
.env
.env.*
!.env.example

# 编辑器
.idea/

# Vite 临时文件
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
